---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white rounded-xl">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>

</div>

<script>
$(document).ready(function() {
    var manualActiveHash = null;
    var isManualClick = false;
    
    // Initialize Bootstrap scrollspy (but we'll override its active management)
    $('body').scrollspy({ 
        target: '#navbar-year', 
        offset: 100 
    });
    
    // Function to set active state
    function setActive(hash) {
        $('#navbar-year a').removeClass('active');
        if (hash) {
            var $link = $('#navbar-year a[href="' + hash + '"]');
            if ($link.length) {
                $link.addClass('active');
            }
        }
    }
    
    // Handle click events - immediately and forcefully update
    $('#navbar-year a').on('click', function(e) {
        var href = $(this).attr('href');
        manualActiveHash = href;
        isManualClick = true;
        
        // Update immediately
        setActive(href);
        
        // Keep forcing it for a while to prevent scrollspy from overriding
        var forceCount = 0;
        var forceInterval = setInterval(function() {
            forceCount++;
            setActive(manualActiveHash);
            if (forceCount >= 30) { // 3 seconds
                clearInterval(forceInterval);
                isManualClick = false;
            }
        }, 100);
    });
    
    // Intercept scrollspy's activate event
    $('body').on('activate.bs.scrollspy', function (e) {
        // If we manually clicked, ignore scrollspy's update
        if (isManualClick && manualActiveHash) {
            setTimeout(function() {
                setActive(manualActiveHash);
            }, 5);
            return false;
        }
    });
    
    // Manual scroll handler (only when not manually clicking)
    var scrollTimeout;
    $(window).on('scroll', function() {
        if (isManualClick) return; // Don't update during manual click
        
        clearTimeout(scrollTimeout);
        scrollTimeout = setTimeout(function() {
            var scrollPos = $(window).scrollTop() + 150;
            var activeHash = null;
            
            // Find which section is currently in view
            $('#navbar-year a').each(function() {
                var href = $(this).attr('href');
                if (href && href.startsWith('#')) {
                    var $target = $(href);
                    if ($target.length) {
                        var targetTop = $target.offset().top;
                        if (targetTop <= scrollPos && targetTop + $target.outerHeight() > scrollPos - 100) {
                            activeHash = href;
                            return false; // break
                        }
                    }
                }
            });
            
            if (activeHash && !isManualClick) {
                manualActiveHash = activeHash;
                setActive(activeHash);
            }
        }, 150);
    });
    
    // Handle hash change
    $(window).on('hashchange', function() {
        var hash = window.location.hash;
        manualActiveHash = hash;
        setActive(hash);
    });
    
    // Set initial state
    setTimeout(function() {
        if (window.location.hash) {
            manualActiveHash = window.location.hash;
            setActive(window.location.hash);
        } else {
            // Check scroll position
            var scrollPos = $(window).scrollTop() + 150;
            $('#navbar-year a').each(function() {
                var href = $(this).attr('href');
                if (href && href.startsWith('#')) {
                    var $target = $(href);
                    if ($target.length && $target.offset().top <= scrollPos) {
                        manualActiveHash = href;
                        setActive(href);
                    }
                }
            });
        }
    }, 300);
});
</script>